li {
    margin-bottom: 16px;
  }
  ul li {
    background-color: green;
    color: white;
  }
  ol li{
    background-color: orange;
    color: white;
  }
  #special + li > span{
    border: 3px solid red;
  }
#special ~ li {
    margin-left: 16px;
}
  