*{
  box-sizing: border-box;
}
div.text{
  display: inline-block;
  position: static;
  margin: 16px;
  padding: 0;
  border-bottom: 1px dotted black;
  bottom: -40px;
}
span.tooltip{
  display: none;
  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 8px;
  
}
.text:hover .tooltip{
  display: block;
  position: relative;
}
