* {
  box-sizing: border-box;
}
.container{
  float: left;
  width: 50%;
  background-color: aquamarine;
  padding: 10px;
}
.red{
  background-color: red;
  width: 100px;
  height: 100px;
  float: right;
  
}
.green{
  background-color: green;
  width: 100px;
  height: 100px;
  float: left;
  
}
.footer{
  border: 3px solid black;
  height: 30px;
  clear: both;
}