*{
  box-sizing: border-box;
}

.square{
  height: 100px;
  width: 100px;
  background-color: #ff6347;
  transform: translate(180px, 120px) rotate(45deg) scale(1.5);
}
p{
  display:inline-block;
  background-color: #ffe4c4;
  padding: 10px;
  margin-left: 16px;
}