@import 'variables.scss';
.header{
    display: flex;
    height: $unit;
    background-color: $main-color;
}
.menu{
 display: flex;
 margin-left: $unit;
 padding-top: 0;
 padding-bottom: 0;
 text-transform: uppercase;
 color: #fff;
 cursor: pointer;
 position: relative;

 &__item {
    
    list-style-type: none;
    padding-right: 8px;
    padding-left: 8px;
     
    &:hover{
        background-color: #9acd32;
    }
 }
   &__item_active{
    color: #ffff00;
   
   }
}
.submenu{
    display: none;
    margin: 0;
    padding: 0;
    background-color: #ff7f50;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    min-width: 120px;
    z-index: 1;
    position: absolute;

    &__item{
        list-style-type: none;
        padding: 8px;

        &:hover{
            color: #000;
        }
      }
}
.menu__item_active:hover .submenu{
    display: block;
}
