$sm:600px;
$md:900px;
$unit:200px;
$radius:4px;
$main-color:#ff7f50;
$second-color:#006400;
$third-color:#0ff;
$span-color:#faebd7;
$padding:8px;

@mixin for-small{
    @media screen and (min-width: $sm) {
        @content;
    }
}
@mixin for-medium{
    @media screen and (min-width: $md) {
        @content;
    }
}
